# Python related
.venv/
venv/
weather_station.egg-info/
weather_station_collector.spec
__pycache__
.mypy_cache/
.pytest_cache/

# IDE related
.idea/
*.iml
.vscode/

# Project related
weather_station.log
local_cache.db
.coverage
build/
logs/
dist/
